@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato:wght@300;900&family=Montserrat:wght@200&family=PT+Sans&display=swap');

.container_game{
    width: 215px;
    height: 200px;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container_game img{
    height: 100%;
    cursor: pointer;
}

.container_game img:hover{
    filter: blur(1px);
}

.title{
    width: 50%;
    color: white;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    position: absolute;
    font-size: 20px;
}
.title:hover{
    color: transparent;
}

.action{
    color: transparent;
    position: absolute;
    margin-top: 50px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}