@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato:wght@300;900&family=Montserrat:wght@200&family=PT+Sans&display=swap');

.container_game{
    width: 270px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.container_game:hover{
    font-size: 20px;
}

.container_game img{
    width: 350px;
    height: 190px;
}
.title{
    width: 270px;
    color: white;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.action{
    width: 200px;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 11px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.rating{
    color: red;
}