@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato:wght@300;900&family=Montserrat:wght@200&family=PT+Sans&display=swap');

.container{
    background-color: #111;
    width: 210px;
    height: 100vh;
    position: fixed;
    padding-top: 85px;
}

select{
    all: unset;
    background-color: #111;
    color: white;
    appearance: auto;
    font-variant: small-caps;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    margin: 15px;
    border-radius: 10px;
    padding: 5px;
}

select:hover{
    background-color: #272626;
    cursor: pointer;
}

.boton{
    all: unset;
    background-image: linear-gradient(to right, rgb(243, 12, 12), rgb(255, 127, 7));
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    width: 180px;
    height: 40px;
    position: relative;
    left: 12px;
    top: 300px;
    cursor: pointer;
    color: white;
    font-family:  'Kanit', sans-serif;
    font-variant: small-caps;
    letter-spacing: 3px;
}